<nav class="navbar navbar-inverse">
<ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Add New", new_post_path %></li>

</ul>
</nav>

  <div class="container-fluid">
    <div class="row">

    <div class="col-md-6">
      <h1>New Post</h1>
      <%= render partial: 'form' %>
</div>
      <div class="col-md-6">
        <h1>Cupcake Ipsum<h1>
          <p class="lead">Gingerbread tart biscuit caramels jujubes.
            Cake topping jujubes tiramisu. Cupcake lollipop liquorice oat cake
            donut pie oat cake cupcake chocolate. Jujubes icing marzipan cookie pudding
            fruitcake. Soufflé chocolate bar lollipop chupa chups gummies cake cookie marzipan pudding. Liquorice candy canes gingerbread tiramisu. Cotton candy gingerbread jelly-o brownie marshmallow wafer toffee cookie dragée. Chupa chups brownie cheesecake donut donut sesame snaps marshmallow soufflé. Apple pie bonbon wafer jujubes topping toffee. Topping oat cake gingerbread chocolate cake chupa chups cookie sesame snaps croissant tiramisu. Chupa chups lemon drops danish sesame snaps.
            Cheesecake topping cupcake wafer brownie. Bonbon sweet cheesecake jelly.</p>

    </div>
  </div>
</div>
